<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieGram</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <h1> All Movies  </h1>
    <div> 
    <% data.forEach(function(item) { %>
        <h2><%= item.name %></h2>
        <img src="<%= item.img %>">
        <li>Createdby: <%= item.user.username %></li>
        <li><a href="/movie/every/<%= item._id %>">See More</a></li>
       <% }) %>
    </div>
</body>
</html>