<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieGram</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">

<body>
    <%- include('./partials/nav.ejs') %>
    <h1> My Movies </h1>
    <div class="container">
    <% data.forEach(function(item) { %>
        <div class="item">
        <h2><%= item.name %></h2>
        <img src="<%= item.img %>">
        <p class="type">Type: <%= item.type %></p>
        <p class="type"> Year: <%= item.year %></p>
        <a class="see-more" href="/movie/<%= item._id %>">See details</a>
    </div>
       <% }) %>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>